<h1> Where do you want to explore? </h1>

<p>
<a href="/places/new" class="btn btn-success">New Place</a>
</p>

<h2>
  <% for place in @places %>
    <p><a href="/places/<%= place.id %>"><%= place.name %></a></p>
  <% end %>
</h2>
